<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="height" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="width" type="java.lang.Integer"*/-->

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <title th:text="#{brand}">#{brand}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.css}" type="text/css"/>
    <link href="../static/main.css" media="all" rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <script type="modulepreload" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script type="modulepreload" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" th:src="@{/webjars/popper.js/dist/umd/popper.js}"></script>
    <script type="modulepreload" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="module" src="../static/Cell.js" th:src="@{/Cell.js}"></script>
    <script type="module" src="../static/logic.js" th:src="@{/logic.js}"></script>
</head>
<body>
<div class="table-responsive">
    <table class="table" id="world">
        <tbody>
        <tr th:each="y: ${#numbers.sequence(0, height)}">
            <td th:each="x: ${#numbers.sequence(0, width)}">
                <outopia-cell th:attr="x=${x},y=${y},value=${@playersService.get('coder').isRevealed(x, y)}"></outopia-cell>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
