<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="height" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="width" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="world" type="ru.o4fun.models.Engine"*/-->

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <title th:text="#{brand}">#{brand}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.css}" type="text/css"/>
    <link href="../static/main.css" media="all" rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <script type="modulepreload" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script type="modulepreload" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" th:src="@{/webjars/popper.js/dist/umd/popper.js}"></script>
    <script type="modulepreload" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <style>
        .values {
            position: absolute;
            display: none;
            border: 1px solid grey;
            background: white;
        }

        td:hover .values {
            display: block;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{/}">Outopia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
            aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">World (table)</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/map}">World (map)</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/players}">Players</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/squads}">Squads</a></li>
        </ul>
    </div>
</nav>
<table id="world" class="table table-sm table-bordered">
    <tbody>
    <tr th:each="y: ${#numbers.sequence(0, height - 1)}">
        <td th:each="x: ${#numbers.sequence(0, width - 1)}">
            <p><a th:href="@{/cells/{x}/{y}(x=${x},y=${y})}" th:text="'[' + ${x} + ',' + ${y} + ']'"></a></p>
            <p th:text="${world.get(x,y).value.size}"></p>
            <th:block th:with="cell=${world.get(x,y)}">
                <p><a th:if="${cell.owner != null}" th:href="@{/players/{id}(id=${cell.owner.id})}" th:text="${cell.owner.id}"></a></p>
                <ul class="values" th:if="${cell.value.size > 0}">
                    <li th:each="it: ${cell.value}">
                        <th:block th:if="${it instanceof T(ru.o4fun.interfaces.Value.Barracks)}">
                            <span>city</span>
                            <span th:text="${it.level}"></span>
                            <span th:each="unit : ${it.units}" th:text="${unit.key} + ' ' + ${unit.value}"></span>
                        </th:block>
                        <th:block th:if="${it instanceof T(ru.o4fun.interfaces.Value.Field)}">
                            <span th:text="${it.resource}"></span>
                            <span th:text="${it.level}"></span>
                        </th:block>
                    </li>
                </ul>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
